

// #toggle {
//     position: absolute; 
//     top: 20px; 
//     right: 20px;
// }

#slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 80%;
}


#slider-div {
    text-align: center;
    margin: 0;
    padding: 0;
    transform: scale(1);
}

.preferenceHeader {
    display: flex;
    align-items: center;
  }
  
  .preferenceHeader mat-card-title {
    flex-grow: 1;
    margin: 0;
  }

#formFieldsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCardContent {
    max-height: calc(100vh - 100px); // You can adjust this based on your needs
    overflow-y: auto;
    padding-top: 70px;
}

#formGroupDiv {
    height: 100px;
}


mat-card-title {
    margin-top: 0;
    padding-top: -10;
    font-size: medium
}

.save-delete-buttons {
    padding-left: 10px;
}

::ng-deep {
    .mat-slider-visual-thumb {
      height: 5px; // change as per your needs
      width: 12px; // change as per your needs
    }
  
    .mat-slider-thumb-label {
      height: 12px; // change as per your needs
      width: 12px; // change as per your needs
      line-height: 12px; // make sure this is the same as height and width
    }
  }
