<mat-card>
  <mat-card-content id="mainCardContent">
    <div *ngIf="isLoggedIn">
      <mat-form-field>
        <mat-label>Select Preset</mat-label>
        <mat-select [(ngModel)]="selectedPreset" (selectionChange)="onPresetChange()">
          <mat-option *ngFor="let preset of presets" [value]="preset">
            {{ preset.name }}
          </mat-option>
          <mat-option value="add_new">-- Add New --</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Add a text box to input the new preset name -->
      <mat-form-field *ngIf="isNewPreset">
        <mat-label>Preset Name</mat-label>
        <input matInput [(ngModel)]="newPresetName" />
      </mat-form-field>
      
      <!-- Buttons -->
      <button mat-mini-fab color="primary" (click)="savePreset()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deletePreset()" *ngIf="!isNewPreset">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="!isLoggedIn" 
      matTooltip="Login to save presets"
      matTooltipPosition="above"
      matTooltipHideDelay="100000">
      <mat-form-field>
        <mat-label>Select Preset</mat-label>
        <mat-select [(ngModel)]="selectedPreset" disabled="true">
          <mat-option value="add_new">-- Add New --</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-mini-fab color="primary" disabled="true">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab color="warn" disabled="true">
        <mat-icon>delete</mat-icon>
      </button>
    </div>  
    <form [formGroup]="preferenceForm"> 
      <div formArrayName="preferences" *ngFor="let preference of preferences.controls; let i = index">
        <mat-card>
          <div [formGroupName]="i" id="formGroupDiv">
            
              <mat-card-header>
                <div class="preferenceHeader">
                  <mat-slide-toggle formControlName="toggleValue" id="toggle" #toggle>
                  </mat-slide-toggle>
                  <mat-card-title>
                    {{ attributeList[i][1] }} ({{minSlider.value}}-{{maxSlider.value}}{{attributeList[i][2]}})
                  </mat-card-title>
                </div>
              </mat-card-header>
            
          
          <mat-card-content>
            
              <div id="slider-div">
                <mat-slider 
                  min={{attributeList[i][3]}} 
                  max={{attributeList[i][4]}} 
                  step={{attributeList[i][5]}} 
                  id="slider" 
                  class="mySlider"
                  [disabled]="!toggle.checked">
                  <input matSliderStartThumb formControlName="minValue" #minSlider/>
                  <input matSliderEndThumb formControlName="maxValue" #maxSlider/>
                </mat-slider>
              </div>
              
            
          </mat-card-content>
        </div>
        </mat-card>
      </div>
    </form>
  </mat-card-content>
</mat-card>
