<mat-card>
  <mat-card-content id="mainCardContent">
    <div *ngIf="isLoggedIn">
      <mat-form-field>
        <mat-label>Select Preset</mat-label>
        <mat-select [(ngModel)]="selectedPreset" (selectionChange)="onPresetChange()">
          <mat-option *ngFor="let preset of presets" [value]="preset">
            {{ preset.name }}
          </mat-option>
          <mat-option value="add_new">-- Add New --</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Add a text box to input the new preset name -->
      <mat-form-field *ngIf="isNewPreset">
        <mat-label>Preset Name</mat-label>
        <input matInput [(ngModel)]="newPresetName" />
      </mat-form-field>
      
      <!-- Buttons -->
      <button mat-raised-button color="primary" (click)="savePreset()">Save</button>
      <button mat-raised-button color="warn" (click)="deletePreset()" *ngIf="!isNewPreset">Delete</button>
    </div>
    <div *ngIf="!isLoggedIn">
      <mat-card-header>
        <mat-card-title>
          Login to save presets!
        </mat-card-title>
      </mat-card-header>
    </div>  
    <form [formGroup]="preferenceForm"> 
      <div formArrayName="preferences" *ngFor="let preference of preferences.controls; let i = index">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ attributeList[i][1] }} ({{minSlider.value}}-{{maxSlider.value}}{{attributeList[i][2]}})
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div [formGroupName]="i" id="formGroupDiv">
              <div id="slider-div">
                <mat-slider 
                  min={{attributeList[i][3]}} 
                  max={{attributeList[i][4]}} 
                  step={{attributeList[i][5]}} 
                  id="slider" 
                  class="mySlider"
                  [disabled]="!toggle.checked">
                  <input matSliderStartThumb formControlName="minValue" #minSlider/>
                  <input matSliderEndThumb formControlName="maxValue" #maxSlider/>
                </mat-slider>
              </div>
              <mat-slide-toggle formControlName="toggleValue" id="toggle" #toggle>
              </mat-slide-toggle>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </mat-card-content>
</mat-card>
