
  <mat-toolbar color="primary">
    <asl-google-signin-button type='icon' size='medium' *ngIf="!user" shape="circle"></asl-google-signin-button>
    <button mat-icon-button (click)="openDialog()" class="example-icon">
      <mat-icon>help_outline</mat-icon>
    </button>
    <a href="https://github.com/tjbarrett42/too-hot" target="_blank" rel="noopener noreferrer" >
      <img src="assets/images/github-icon.png" alt="GitHub" width="30" height="30" class="githubIcon"/>
    </a>
    <span>
        FindMyForecast
    </span>
    <span class="example-spacer"></span> 
  </mat-toolbar>