<div #map style="height: 700px;"></div>

<mat-card-content>
    <mat-card>
  <mat-card-content>
    <div class="timeline-container">
      <div class="slider-container">
        <mat-slider
            [min]="0"
            [max]="maxHours"
            showTickMarks="true"
            >
          <input matSliderThumb [(ngModel)]="currentHour" (input)="updateSliderValue($event)"/>
        </mat-slider>
        <span class="slider-thumb-label" [style.left.%]="getThumbLabelPosition()">{{getCurrentDayAndHour()}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

</mat-card-content>
