#map {
    height: 500px; /* or any other value */
    width: 100%;
}

.timeline-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider-thumb-label {
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

mat-slider {
    width: 100%;
}

.mat-slider-tick {
    background-color: #000;  /* sets the tick color to black */
    height: 5px;             /* sets the tick height */
    width: 2px;              /* sets the tick width */
}
  
  .slider-container {
    position: relative;
    width: 80%;
  }
  
  .mat-slider {
    width: 100%;
  }
  