#map {
    height: 500px; /* or any other value */
    width: 100%;
    position: relative;
}

.timeline-div {
  position: relative;
  
}

.timeline-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slider-thumb-label {
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

mat-slider {
    width: 100%;
}

.mat-slider-tick {
    background-color: #000;  /* sets the tick color to black */
    height: 5px;             /* sets the tick height */
    width: 2px;              /* sets the tick width */
}
  
  .slider-container {
    position: relative;
    width: 80%;
  }
  
  .mat-slider {
    width: 100%;
  }
  
/* Existing styles for top drawer */
.drawer {
  /* ... existing styles ... */
}

/* Styles for bottom drawer */
.bottom-drawer {
  width: 100%;
  height: 400px; /* You can set the height to your requirement */
  position: fixed;
  bottom: -400px; /* start off the screen */
  transition: bottom 0.3s ease-in-out;
  z-index: 999;  /* make sure it's higher than the map */
}

.bottom-drawer-open {
  bottom: -300px; /* slide up */
}

/* Add a button to toggle the bottom drawer */
.bottom-drawer-toggle-button {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 400px; /* adjust based on the actual size of your button */
  z-index: 1000;  /* to make sure it appears above the drawer and map */

  mat-icon {
    color: white;
  }
}
