.overlay-container {
  position: absolute;
  top: 90px;  /* Adjust as needed */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 888;  /* High value to ensure it stays on top */
  max-width: 400px;
}

.map-and-drawer {
  position: relative;
}

  
  .drawer {
    width: 330px;
    height: 100%;
    position: fixed;
    top: 64px;
    right: -330px; /* start off the screen */
    transition: right 0.3s ease-in-out;
    z-index: 999;  /* make sure it's higher than the map */
  }
  
  .drawer-open {
    right: 0; /* slide in */
  }
  
  .drawer-toggle-button {
    position: absolute;
    top: 13px;
    left: -70px;  /* adjust based on the actual size of your button */
    z-index: 1000;  /* to make sure it appears above the drawer and map */
  
    mat-icon {
      color: white;
      transform: scale(1.75)
    }

    mat-card-title {
      padding-left: 20px;  // Increase padding to the left as needed
    }
  }
  